# Service mappings configuration

# Kube clusters
kube_dev="aslive-dev-eks-blue"
kube_sandbox="aslive-sandbox-eks-blue"
kube_staging="aslive-staging-eks-blue"
kube_usstaging="aslive-usstaging-eks-blue"
kube_admin="headquarter-admin-eks-green"
kube_prod="live-prod-eks-blue"
kube_usprod="live-usprod-eks-blue"
kube_corepgblue="platform-corepgblue-eks-blue"
kube_corepggreen="platform-corepggreen-eks-green"

# AWS accounts
aws_dev="yl-development"
aws_sandbox="yl-sandbox"
aws_staging="yl-staging"
aws_usstaging="yl-usstaging"
aws_admin="yl-admin"
aws_prod="yl-production"
aws_usprod="yl-usproduction"
aws_corepgblue="yl-corepgblue"
aws_corepggreen="yl-corepggreen"
aws_corepg="yl-coreplayground"



